.Deck {
  text-align: center;
}

.Deck-gimme {
  padding: 15px;
  background-color: rgb(161, 23, 252);
  color: rgb(242, 143, 236);
  border-radius: 8px;
  border: none;
  margin: 0 10px;
}

.Deck-gimme:hover {
  cursor: pointer;
  background-color: #ffd6f9;
}

.Deck-gimme:active,
.Deck-gimme:focus {
  outline: none;
}

.Deck-cardarea {
  margin-top: 80px;
}
